<!--Graphic User Interface (NTX1000) to operate a MIR robot in the ARTC workshop
Version 1.0
Data: 2018-04-10-->

<html>

<style>

</style>

<head>
    <title>AGV | ARTC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="overflow: hidden; background-color: #cccccc;">



<div class="row">
<div class="col-sm-12" style="background-color:#cccccc;">
  <h2 class="font-weight-bold" >S15 AGV project at ARTC</h2>
  <!--img src="mir.png" class="img-rounded"  style ="width:15%;" alt="Cinque Terre"-->
</div>
</div>


</body>

</html>
